@value variables: "components/app/variables.css";
@value standard-padding, list-height, list-border-color, list-bg-color from variables;

.container {
  composes: clickable from "components/app/style.css";
  height: list-height;
  border-bottom: 1px solid list-border-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: standard-padding;
}

.container.active > span {
  color: white;
}

.container:last-of-type {
  border: none;
  margin-bottom: 0;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.titleActive {
  composes: title;
  white-space: normal;
}

.remove {
  composes: removable from "components/app/style.css";
  font-size: 1.2rem;
}
