@value variables: "components/app/variables.css";
@value time-screen-slide, standard-height, standard-padding, color-teal, color-navy, color-pink, color-clickable, color-removable from variables;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background-color: #efefef;
  color: #ccc;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
}

h1 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  color: #333;
}

input[type="text"] {
  border: 0;
  border-radius: 0;
  outline: none;
  padding: 0;
  background: none;
}

.inputContainer {
  height: standard-height;
  padding: 0 standard-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*.inputContainer > input:focus {
  box-shadow: inset 0 -3px 0 0 color-teal;
}*/

.clickable {
  color: color-clickable;
}

.removable {
  color: color-removable;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: color-navy;
}

.lists {
  min-height: 100vh;
  background-color: color-navy;
}

.items {
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .items {
    filter: brightness(70%);
    transition: filter time-screen-slide cubic-bezier(0.44, -0.04, 0.02, 0.97);
  }

  .items.active {
    filter: brightness(100%);
  }

  .lists {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 66%;
    transform: translateX(-100%);
    transition: transform time-screen-slide
      cubic-bezier(0.44, -0.04, 0.02, 0.97);
  }

  .lists.active {
    transform: translateX(0%);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 90%;
  }

  .clickable {
    cursor: pointer;
  }

  .removable {
    composes: clickable;
  }

  .removable:hover {
    color: color-pink;
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  .lists {
    width: 20rem;
  }

  .items {
    flex: 1;
  }
}
