@value color-pink: #f74ea1;
@value color-teal: #46daba;
@value color-navy: #2e363b;
@value color-navy-dark: #272f33;
@value color-white: #fff;

@value color-clickable: color-teal;
@value color-removable: color-pink;

@value standard-height: 4rem;
@value standard-padding: .5rem;
@value large-padding: 1rem;

@value header-bg-color: color-navy;
@value header-text-color: color-white;
@value header-height: standard-height;

@value lists-bg-color: color-navy-dark;
@value list-border-color: color-navy;
@value list-height: standard-height;

@value items-bg-color: color-white;
@value item-text-color: #777;
@value item-date-color: #dedede;
@value item-height: standard-height;

@value time-screen-slide: 300ms;
