@value variables: "components/app/variables.css";
@value color-teal from variables;

.spinner-container {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2px;
  border: 1.5em solid rgba(70, 218, 186, 0.15);
  border-left: 1.5em solid color-teal;
  animation: spinner 0.5s infinite linear;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
