@value variables: "components/app/variables.css";
@value color-teal, standard-height, standard-padding, lists-bg-color from variables;

.container {
  min-height: 100vh;
  background-color: lists-bg-color;
}

.container.editing > .list {
  top: calc(standard-height * 2);
  bottom: 0;
  overflow-y: auto;
}

.inputContainer {
  composes: inputContainer from "components/app/style.css";
  background: #536169;
}

.input {
  composes: input from "components/app/style.css";
  color: white;
  flex: 1;
}

.list {
  padding: 0 standard-padding;
}

@media only screen and (max-width: 768px) {
  .list {
    position: absolute;
    top: standard-height;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
