@value variables: "components/app/variables.css";
@value items-bg-color, standard-padding, standard-height from variables;

.container {
  min-height: 100vh;
  background-color: items-bg-color;
}

.container.editing > .list {
  top: calc(standard-height * 2);
}

h1 {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  display: none;
}

.inputContainer {
  composes: inputContainer from "components/app/style.css";
  background-color: #eee;
}

.input {
  composes: input from "components/app/style.css";
  color: #2e363b;
  flex: 1;
}

.list {
  padding: 0 standard-padding;
}

.no-items {
  padding: standard-padding;
}

.loading {
  padding: standard-padding;
}

.icon {
  color: #ccc;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .list {
    position: absolute;
    top: standard-height;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  h1 {
    display: block;
  }

  .menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .list {
    overflow-y: auto;
  }

  h1 {
    display: block;
  }

  .menu {
    display: none;
  }
}
