@value variables: "components/app/variables.css";
@value color-pink, item-text-color, item-date-color, item-height from variables;

.container {
  height: item-height;
  color: item-text-color;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container:last-of-type {
  border: none;
}

.container.editing > .title {
  white-space: normal;
}

.container.complete > .title {
  text-decoration: line-through;
  color: #ccc;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.date {
  color: item-date-color;
}

.input {
  composes: input from "components/app/style.css";
  padding: 0;
  flex: 1;
}
