.icon-container {
  composes: clickable from "components/app/style.css";
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-weight: 100;
}

.icon-menu {
  transform: scale(1.2);
}
.icon-menu::after {
  content: "\2630";
}

.icon-settings {
  transform: scale(1.3);
}
.icon-settings::after {
  content: "\22ee";
}

.icon-edit {
  transform: scale(1.5);
}
.icon-edit::after {
  content: "\270E";
}

.icon-remove {
  composes: removable from "components/app/style.css";
  transform: scale(1.5);
}
.icon-remove::after {
  content: "\00D7";
}

.icon-plus {
  transform: scale(1.6);
}
.icon-plus::after {
  content: "\002B";
}

.icon-tick {
  transform: scale(1.5);
}
.icon-tick::after {
  content: "\2713";
}
