@value variables: "components/app/variables.css";
@value color-navy, header-bg-color, large-padding, standard-padding, header-text-color, header-height from variables;

.container {
  position: relative;
  color: header-text-color;
  background-color: header-bg-color;
  height: header-height;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon-left {
  composes: icon;
  left: standard-padding;
}

.icon-right {
  composes: icon;
  right: standard-padding;
}

.icon-spinner {
  right: large-padding;
}

@media only screen and (max-width: 768px) {
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 768px) {
  .title {
    position: absolute;
    left: large-padding;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon-menu {
    display: none;
  }
}

.input {
  composes: input from "components/app/style.css";
  color: #fff;
  text-align: center;
}
